Sistema/SystemMonitor/build/
Sistema/SystemMonitor/system_monitor_gui
Sistema/SystemMonitor/logs/*.log
Sistema/SystemMonitor/build/
Sistema/SystemMonitor/system_monitor_gui
Sistema/SystemMonitor/logs/*.log
